.wrap {
  margin: 0 auto;
  width: 960px;
}

.footer {
  background: #ecf0f1;
  padding: 20px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.header {
  background: #ecf0f1;
  padding: 20px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  margin: 0;
}
