.description {
  background: #FFE6E6;
  font-size: 25px;
  font-family: fantasy;
  float: left;
  padding: 15px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.description img {
  display:block;
  margin-left: 50px;
  padding: 40px;
}
